window#waybar {
    background: rgba(50, 50, 50, 0);
    border-radius: 5px;
    border: solid lightgreen 0px;
}

#workspaces {
	background: rgba(50, 50, 50, 1);
	color: #FFFFFF;
	border-radius: 5px;
	/*border: solid lightgreen 1px;*/
}

#workspaces button {
	color: white;
	padding: 0 8px;
	background: transparent;
	border-radius: 8px;
}

#clock {
	background: rgba(50, 50, 50, 1);
	color: white;
	border-radius: 5px;
	/*border: solid lightgreen 1px;*/
	padding: 0 8px;
}

#pulseaudio {
	background: rgba(50, 50, 50, 1);
	color: white;
	border-radius: 5px;
	/*border: solid lightgreen 1px;*/
	padding: 0 8px;
}

#tray {
	background: rgba(50, 50, 50, 1);
	color: white;
	border-radius: 5px;
	/*border: solid lightgreen 1px;*/
	padding: 0 8px;
}
