window#waybar {
    background: rgba(30, 30, 30, 1);
    /*border-radius: 8px;*/
    /*border: solid rgba(255, 255, 255, 1) 3px;*/
}

#workspaces {
	background: rgba(50, 255, 200, 0.4);
	color: #FFFFFF;
	border-radius: 4px;
	/*border: solid white 1px;*/
}

#workspaces button {
	color: white;
	padding: 0 8px;
	background: transparent;
	border-radius: 4px;
}

#clock {
	background: rgba(50, 255, 200, 0.4);
	color: white;
	border-radius: 4px;
	/*border: solid white 2px;*/
	padding: 0 8px;
}

#pulseaudio {
	background: rgba(50, 255, 200, 0.4);
	color: white;
	border-radius: 4px;
	/*border: solid white 2px;*/
	padding: 0 8px;
}

#tray {
	background: rgba(50, 255, 200, 0.4);
	color: white;
	border-radius: 4px;
	/*border: solid white 2px;*/
	padding: 0 8px;
}
