window#waybar {
    background: rgba(60, 56, 54, 1);
    border-radius: 5px;
    border: solid rgba(142, 192, 124, 1) 1px;
}

#workspaces {
	background: rgba(60, 70, 60, 0);
	color: #FFFFFF;
	border-radius: 5px;
	border: solid lightgreen 0px;
}

#workspaces button {
	color: white;
	padding: 0 8px;
	background: transparent;
	border-radius: 8px;
}

#clock {
	background: rgba(50, 50, 50, 0);
	color: white;
	border-radius: 5px;
	/*border: solid lightgreen 1px;*/
	padding: 0 8px;
}

#pulseaudio {
	background: rgba(50, 50, 50, 0);
	color: white;
	border-radius: 5px;
	/*border: solid lightgreen 1px;*/
	padding: 0 8px;
}

#tray {
	background: rgba(142, 192, 124, 0.4);
	color: white;
	border-radius: 0px;
	/*border: solid lightgreen 1px;*/
	padding: 0 8px;
}
